*{
    padding: 0;
    margin: 0;
}

footer{
    width: 100%;
    background: linear-gradient(45deg, #4A5B4A, #EA580C);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    
}


.navigation{
    position: relative;
    width: 450px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
    display: flex;
    width: 350px;
}

.navigation ul li{
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    transition: .5s;
}

.navigation ul li.active  a .icon{
    transform: translateY(-32px);

}

.navigation ul li a .text{
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .05em;
    transform: translateY(20px);
    opacity: 0;
    transition: .9s;
    
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);

}
.navigation ul li a .circle{
    position: absolute;
    display: block;
    width: 43px;
    height: 43px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid white;
    transform: translateY(-37px) scale(0);

}

.navigation ul li.active a .circle{
    transform: translateY(-38px) scale(1);
    transition: .5s;
    transition-delay: .2s;
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: linear-gradient(45deg, #4A5B4A, #EA580C);
    border: 6px solid #4A5B4A;
    border-radius: 50%;
    transition: .5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius:20px ;
    box-shadow: 1px -10px 0 #4A5B4A;
}

.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius:20px ;
    box-shadow: -1px -10px 0 #4A5B4A;
}

.navigation ul li:nth-child(1).active~.indicator{
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator{
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator{
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator{
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator{
    transform: translateX(calc(70px * 4));
}
